:root{
    --green: #41B619
}

.card-item{
    display: grid;
    grid-template-columns: 36px 1fr;
    grid-column-gap: 20px;
    align-items: center;
    cursor: pointer;
}

.card-item--active {
    border: 3px var(--green) solid;
    border-radius: 50%;
}

.btn-count{
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-count:disabled{
    background-color: #d9d9d9;
    color: grey;
}